* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(248, 214, 225);
}

em {
  font-weight: normal;
  font-style: normal;
  font-family: "Caprasimo", display;
}

h1 {
    font-style: normal;
    font-weight: lighter;
    margin-bottom: .1em;
    font-size: 2.6em;
    font-family: "Caprasimo", display;
}

p {
    margin-top: 0em;
    font-size: 1em;
    margin-bottom: .75em;
}

#example {
  font-size: .85em;
  margin-top: 0em;
  margin-bottom: 1.3em;
}

small {
    margin-top: .02em;
    margin-bottom: 1em;
    font-size: .85em;
}

/* background for start page */
.start-page {
    background-color: rgb(248, 214, 225);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

/* start button */
#start {
    font-size: 1em;
    font-weight: bold;
    padding: .9em 3em;
    background-color: mintcream;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;

    transition: transform 0.25s ease 0s, 
    background-color 0.25s, color 0.25s;

}

#start:hover {
  transform: translateY(-5px);
  background-color: rgb(244, 165, 178);
  color: mintcream;
}

#current-day {
  font-size: .9em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: .02em;
}

.hide {
  display: none;
}

.game-wrapper {
  position: absolute;
  width: 70%;
  height: 50%;
  max-width: 37em;
  background-color: white;
  padding: 7em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 1em;
}

#press-enter {
  font-size: .65em;
  font-style: italic;
  margin-top: 0em;
  margin-bottom: .2em;
}

#userInput{
  width: 40%;
  padding: .5em;
  border: 3px solid #d7e3fc;
  background-color: #edf2fb;
  border-radius: 1em;
  outline: none;
  color: #82a5f1;
  font-size: .9em;
}

.shake {
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
} 
       
.bounce-animation {
  animation: bounce 0.4s;
}

#plusPoints {
  font-size: 1.3em;
  font-weight: bold;
  color: #6691ed;
}

#checkWord {
  color: white;
  font-size: .8em;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.game-wrapper span {
  background-color: rgb(236, 146, 161);;
}

#timer {
  margin-bottom: 1em;
}

.end-screen-title {
  position: absolute;
  width: 65%;
  height: 10%;
  max-width: 37em;
  background-color: mintcream;
  padding: 3em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  text-align: center;
  border-radius: 1em;
}

.end-screen {
  position: absolute;
  width: 65%;
  height: 24%;
  max-width: 37em;
  background-color: mintcream;
  padding: 1em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 57%;
  left: 50%;
  text-align: center;
  border-radius: 1em;
}

#gameOver {
  font-size: 2.5em;
  font-weight: normal;
  font-style: normal;
  font-family: "Caprasimo", display;
  margin-bottom: .15em;
  margin-top: 0em;
}

@keyframes countUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#yourScore {
  font-size: 1.7em;
  margin-bottom: 1em;
}

#yourWords {
  margin-bottom: .5em;
  margin-top: 1em;
  font-style: italic;

}

#wordList {
  margin-top: 0em;
  font-size: .9em;
  margin-bottom: 2em;
}

.end-button {
  position: absolute;
  width: 65%;
  height: 10%;
  max-width: 37em;
  background-color: rgb(248, 214, 225);
  padding: 0em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 50%;
  text-align: center;
  border-radius: 1em;
}

#playAgain {
  font-size: 1em;
  font-weight: bold;
  padding: .9em 3em;
  background-color: #c6d4f2;
  border: none;
  outline: none;
  border-radius: 2em;
  cursor: pointer;

  transition: transform 0.25s ease 0s, 
  background-color 0.25s, color 0.25s;

}

#playAgain:hover {
  transform: translateY(-8px);
  background-color: rgb(244, 165, 178);
  color: mintcream;
}

